.container {
    background-color: #00543f;
    font-family: sans-serif, monospace;
}

.at_header {
    background-color: #00543f;
    height: 150px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: yellow;
    text-shadow: 5px 5px #000;
    font-weight: 600;
    font-size: 3.5em;
}

.at_navbar_btn {
    float: left;
    background-color: #00543f;
    height: 50px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: white;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

.at_list_header {
    float: left;
    background-color: #e6e6e6;
    height: 50px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: black;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

.at_list_item {
    float: left;
    background-color: #e6e6e6;
    height: 50px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: black;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
}

.at_page_header {
    background-color: #fff;
    height: 75px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: black;
    font-weight: 500;
    font-size: 2.5em;
}

 .at_off_box_title {
     font-size: 1.3em;
     font-weight: 600;
 }

 .at_off_box_background {background-color: white;}

 .at_off_box {
     background-color: darkcyan;
     color: white;
     font-weight: 500;
     font-size: 1em;
     border-radius: .5em;
     height: 160px;
 }

 .at_off_box div {
     float: left;
     padding: 0.1em;
     margin: 0.1em;
 }

 .at_separator {
     background-color: white;
     height: 5px;
 }

 .at_sangucheto_box {
     background-color: cornflowerblue;
     color: white;
     font-weight: 500;
     font-size: 1em;
     border-radius: .5em;
     margin-left: .5em;
     height: 160px;
     overflow-y: auto;
 }

.at_vaciar_carrito_row {
    background-color: white;
    text-align: right;
    padding: .5em;
    border-top: 1px solid black;
}

.at_btn_agregar {
   text-align: right;
}

.at_index_msg {
    font-size: 4em;
    font-weight: 600;
    color: #ccc;
    background-color: white;
    text-align: center;
}

a:link {color: white;} 		                    /* unvisited link 	*/
a:visited {color: white;} 	                    /* visited link 	*/
a:hover {color: yellow;text-decoration: none} 	/* mouse over link 	*/
a:active {color: white;}	                    /* selected link 	*/
